<h3>
  $<%= @lamp.price %> is a small price to pay for a <%= @lamp.name %> Lamp!
</h3>

<% if @error %>
  <h4 class="error">
    <%= @error %>
  </h4>
<% end %>

<% if @lamp.quantity > 0 %>

  <p>Get one quick! Only <%= @lamp.quantity %> left!</p>

  <form id="buy-lamp" action="/buy/<%= @lamp.id %>" method="post">
    <label for="price"><%= @lamp.name %> Lamp:</label>
    <input id="price" type="text" name="price" value="$<%= @lamp.price %>" readonly disabled>

    <label for="quantity">Quantity:</label>
    <input id="quantity" type="text" name="quantity" value="1">

    <label for="total">Total</label>
    <input id="total" type="text" name="total" value="$<%= @lamp.price %>" readonly disabled>

    <input type="submit" value="Buy">
  </form>

<% else %>
  <p>Sorry, we don't have any more <%= @lamp.name %> Lamps in stock.</p>
<% end %>


<a href="/lamps/<%= @lamp.id %>">Back</a>
